/*
*	Stile per la pagina di login
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-image: url('../assets/img/background-gradient.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}