/*
*	Stile per la pagina diventa un partner
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'ADLaM Display', sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
    height: 100%;
}

.navbar-custom {
    background-color: #000035;
    padding: 10px 0;
    width: 100%; /* Imposta la larghezza al 100% */
    position: static; /* Posizionamento assoluto per tenere la navbar in alto */
    top: 0; /* Posiziona la navbar in alto */
    z-index: 1000; /* Assicura che la navbar sia sopra altri contenuti */
}

.navbar-custom .navbar-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra orizzontalmente tutto il contenuto */
    margin: 0 auto; /* Rimuovi margin laterale per centrare contenuto */
    max-width: 1200px; /* Mantieni un massimo per larghezze grandi */
    padding: 0 20px; /* Aggiungi padding laterale per il contenuto */
}

.navbar-custom .navbar-logo {
    margin-right: 20px; /* Spazio tra logo e titolo */
    width: 100px;
    height: auto;
}

.navbar-custom .navbar-title {
    color: #ff6f61;
    font-size: 24px;
    font-weight: bold;
}

.container {
    flex: 1; /* Fa espandere il contenitore per occupare lo spazio disponibile */
    padding: 80px 20px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    line-height: 1.6; /* Aumenta lo spazio tra le righe */
    margin-bottom: 5px; /* Aggiungi uno spazio verticale tra i paragrafi */
}

h1, h2 {
    line-height: 1.4; /* Spazio tra le righe dei titoli */
    margin-bottom: 20px; /* Spazio sotto ciascun titolo */
    color: #ff6f61;
}

ul {
    margin-bottom: 20px; /* Spazio sotto l'elenco */
}

li {
    margin-bottom: 10px; /* Spazio tra ogni elemento della lista */
}

/* Stili per il footer */
footer {
    width: 100%;
    text-align: center;
    background-color: #000035;
    color: #ff6f61;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
}

.footer-content {
    margin-bottom: 10px;
}

.footer-bottom {
    border-top: 1px solid #fff;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

