<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="/Lista-viaggi/styles/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Lista Viaggi</title>
</head>
<body>

	<!-- Navbar -->
	<nav class="navbar navbar-custom">
		<div class="navbar-container">
			<a href="/" class="navbar-logo"> <img
				src="../assets/img/viaggiodasolo.svg" alt="Logo" class="logo">
			</a>
			<h1 class="navbar-title">Viaggia con noi - Le nostre migliori
				offerte</h1>
		</div>
	</nav>

	<!-- Contenuto della pagina -->
	<div class="container mt-4">
		<div id="cardContainer" class="row">
			<!-- Le card dei viaggi verranno inserite qui dinamicamente -->
		</div>
	</div>

	<!-- Sezione delle offerte -->
	<section class="offerte">
		<div class="card-container">
			<div class="cards-wrapper">
				<div class="cards" id="offerteCardsContainer">
					<!-- Le card generate dinamicamente verranno inserite qui -->
				</div>
			</div>
		</div>
	</section>

	<!-- Script -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="/Lista-viaggi/scripts/main.js"></script>
</body>
</html>
