<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>

    <!-- Messaggio di errore -->
    <div th:if="${loginError}">
        <p th:text="${loginError}" style="color: red;"></p>
    </div>

    <!-- Form di login -->
    <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
        
        <button id="pulsanteRegistrazione" class="btn btn-outline-secondary" onclick="location.href='/registrazione'">Registrati</button>
    </form>
</body>
</html>