<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viaggio da Solo</title>
    <link rel="stylesheet" href="/Pagina-Iniziale/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Nav-bar -->
    <nav>
        <div class="logo">
            <a href="/"><img src="../assets/img/viaggiodasolo.svg" alt="Logo"></a>
        </div>
        <ul>
            <li><a href="lista">Viaggia con noi</a></li>
            <li><a href="CreaViaggio">Crea il tuo viaggio</a></li>
            <li><a href="DiventaUnPartner">Diventa un partner</a></li>
            <li class="login-container">
                <a href="login" class="login">
                    <img src="../assets/icon/icon-login.svg" class="icona-logo"> Login/Registrati
                </a>
            </li>
        </ul>
    </nav>

    <!-- Image content with search box -->
    <div class="image-content">
        <img src="../assets/img/giappone-ok.jpg" alt="Giappone">
        <div class="search-box">
            <input type="text" placeholder="Dove vorresti andare?" class="search-input">
            <div class="separator"></div>
            <div class="date-input">
                <input type="date" class="search-date" id="date-input">
            </div>
            <button type="submit" class="search-btn">
                <img src="../assets/icon/search icon.png" alt="Cerca">
            </button>
        </div>
    </div>

    <!-- Contenuto della pagina per le card dei viaggi -->
    <div class="container mt-4">
        <div id="cardContainer" class="row">
            <!-- Le card dei viaggi verranno inserite qui dinamicamente -->
        </div>
        <!-- Controlli di paginazione -->
        <div id="paginationControls" class="pagination-controls mt-3"></div>
    </div>

    <h2 id="titolo-social">Seguici sui nostri profili social!</h2>
    
    <!-- Immagine Social sotto le Card -->
    <div class="social-image-container">
        <img src="/assets/img/social.png" alt="Immagine Social" class="social-image">
    </div>

    <!-- Footer -->
    <footer class="custom-container">
        <div class="footer-content">
            <p>VIAGGIO DA SOLO S.p.A.</p>
            <p>Email: info@viaggiodasolospa.it</p>
            <p>Tel: 011 456789</p>
            <p>P. Iva: 08425320721</p>
            <p>Indirizzo: Via Jacopo Durandi, 10</p>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Viaggio da Solo S.p.A.</p>
        </div>
    </footer>
    
    <script src="/Pagina-Iniziale/scripts/main.js"></script>
</body>
</html>